.Calendar {
    margin: 100px auto 100px auto;
}

.Week {
    display: grid;
    grid-template-areas: "Monday Tuesday Wednesday Thursday Friday Saturday Sunday";
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.Week .Day {
    --the-day-colour-fg: #3B3486;
    --the-day-colour-bg: #3B3486;
    background: #FFE9B1;
    margin: 12px;
    flex: 1;
    min-height: 12em;
    display: grid;
    grid-template-areas: "DayNum DayName" "Month Month" "Task Task";
    grid-template-columns: 2em 1fr;
    grid-template-rows: auto auto 1fr;
    border: 2px solid var(--the-day-colour-fg);
    word-break: break-word;
}

.Week .Day .DayInMonthNumber {
    grid-area: DayNum;
    text-align: right;
    background: var(--the-day-colour-bg);
}

.DayHeadPart {
    font-weight: bold;
    color: #FFE9B1;
}

.Week .Day .DayMonthName {
    grid-area: Month;
    font-size: 80%;
    padding-bottom: 3px;
    padding-left: 3px;
    background: var(--the-day-colour-bg);
    border-bottom: 1px solid var(--the-day-colour-fg);;
}

.Week .Day .DayName {
    grid-area: DayName;
    text-align: right;
    padding-right: 3px;
    padding-top: 3px;
    background: var(--the-day-colour-bg);
}

.Week .Day .DayTaskText {
    grid-area: Task;
    padding: 5px;
    text-align: center;
}

.Week .Day.Today {
    --the-day-colour-bg: #7743DB;
}

.Week .Day.Done .DayTaskText {
    background: url("/img/candle.png") no-repeat center #FFE9B1;
    background-size: contain;
}

.Week .Day.Future {
    --the-day-colour-bg: #a477ff;
}

.Holly {
    position: absolute;
    left: 0;
    transform: translateY(-60%) scaleY(-1);
    z-index: -1;
    width: 100vw;
    height: 20vh;
    background: url("/img/Holly-161840_1280.png") bottom center;
    background-size: contain;
}


@media (max-width : 1280px) {
    .Week .Day * {
        padding: 0 !important;
    }
    .Week .Day {
        margin: 0 !important;
        grid-template-columns: 2em 1fr !important;
    }
    .Week .Day .DayInMonthNumber {
        font-size: 50% !important;
    }
    .Week .Day .DayMonthName {
        font-size: 48% !important;
    }
    .Week .Day .DayName {
        font-size: 60% !important;
    }
    .Week .Day .DayTaskText {
        font-size: 80% !important;
    }
}